/*********************************************************************
*
*  Variables module
*
*  Set all the variables that are to be used in the project
*  this module.
*  Third-party vendors or created exceptions components
*  to be independent.
*
*********************************************************************/


/*******************************************************************
*  =Dimension
*********************************************************************/

$base-font-size : 16px;

/*********************************************************************
*  =Colors
*********************************************************************/



/*********************************************************************
*  =Font-size
*********************************************************************/


/*******************************************************************
*  =Dimension Responsive Design
*********************************************************************/

$desktop-modern: 1170px;
$desktop-old: 998px;
$tablets: 768px;
$mobile2: 460px;
$mobile: 320px;
