/*********************************************************************
*
*  Mixins module
*
*  Set here your mixins, which helps save
*  your time, stop typing so much and prefixes.
*
*  Note:
*  Using the vendor Bourbon mixins decreased.
*  Before creating a mixin, see the documentation for
*  Bourbonand see if it already exists. (http://bourbon.io/docs/)
*  When creating a mixin, be sure to update other
*  projects even collaborate on this project.
*
*********************************************************************/


/*******************************************************************
*  =Mixin Opacity
*
*   Give opacity elements
*
*   Use:
*   .faded-text {
*       @include opacity(0.8);
*   }
*
*********************************************************************/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*******************************************************************
*  =Mixin Shadow
*
*   Add some shadow box
*
*   use:
*   .faded-text {
*       @include box-shadow(0px, 8px, 10px, rgba(172, 170, 170, 0.75));
*   }
*
*********************************************************************/

@mixin box-shadow($hshadow, $vshadow, $blur, $color){
   box-shadow: $hshadow $vshadow $blur $color;
   -moz-box-shadow: $hshadow $vshadow $blur $color;
   -webkit-box-shadow: $hshadow $vshadow $blur $color;
}


/*******************************************************************
*  =Mixin Center Object
*
*   Center Object with position absolute
*
*   use:
*   .box {
*     $width: 600px;
*     $height: 300px;
*     @include centered($width, $height);
*   }
*
*********************************************************************/

@mixin centered($width: null, $height: null){
    position: absolute;
    top: 50%; left: 50%;

    @if not $widht and not $height {
        transform: translate(-50%, -50%);
    } @else if not $width {
        margin-top: -($height/2);
        transform: translateX(-50%);
        height: $height;
    } @else if not $height {
        margin-left: -($width/2);
        transform: translateY(-50%);
        width: $width;
    } @else if $width and $height {
        margin-top: -($height/2);
        margin-left: -($width/2);
        height: $height;
        width: $width;
    }
}


/*******************************************************************
*  =Mixin Placeholder
*
*   Style Placeholder cross browser
*
*   use:
*   .form-control {
*     $color: #ededed !default;
*     @include placeholder($color);
*   }
*
*********************************************************************/

@mixin placeholder($color) {
    &::-moz-placeholder { color: $color; opacity: 1; }
    &:-ms-input-placeholder { color: $color; }
    &::-webkit-input-placeholder  { color: $color; }
}
